body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
}
body,button,input,select,textarea {	
	font: 14px 'Microsoft Yahei', tahoma, Srial, helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6 {	
	font-size: 100%;
}
em {
	font-style: normal;
}
ul,ol {	
	list-style: none;
}
a {	
	text-decoration: none;	color: #333;
}
a:hover {
	text-decoration: none;
	color: #F23E47;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
img { 
	border: 0px; 
	outline-width: 0px; 
	vertical-align: top;
}
.clearfix:after {
	clear: both;
	content: "\200B";
	display: block;
	height: 0;
}
.clearfix {
	*zoom: 1;
}
button,input,optgroup,select,textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}
button {
	overflow: visible;
}
button,select {
	text-transform: none;
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],html input[disabled] {	cursor: default;}
button::-moz-focus-inner,input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
input {
	line-height: normal;
}
